{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Recuperar Contraseña
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="row justify-content-center">
      <div class="col-lg-8 mt-5">
        <div class="card border-dark">
          <ul class="list-group list-group-flush">
            <form method="post">
              <li class="list-group-item">
                {% csrf_token %}
                <div class="form-group">
                  <h1 class="font-weight-light mb-4">Recuperar contraseña</h1>
                  <label for="id_email">Correo electrónico:</label>
                  <input type="email" class="form-control" id="id_email" aria-describedby="EmailRecuperacion" placeholder="alguien@ejemplo.com"{{ form.email }}
                  <small id="id_email" class="form-text text-muted mt-2">Escribe la dirección del correo electrónico asociada a tu cuenta.</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-end">
                <a href="{%url 'index'%}">
                  <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Regresar</button>
                  </a>
                  <button type="submit" class="btn btn-dark ml-2">Confirmar</button>
              </li>
            </form>
          </ul>
        </div>
      </div>
    </div>

</body>
</html>
{% endblock %}
