{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block title %}
Recuperar Contraseña
{% endblock %}

{% block content %}

{% if validlink %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Recuperar Contraseña</title>
</head>


<body class="bg-light d-flex align-items-center">

		 <div class="row justify-content-center">
		    <div class="col-lg-8 mt-5">
		 	    <div class="card border-dark">
		    	    <ul class="list-group list-group-flush">
		        		<form method="post">
		            		<li class="list-group-item">
								{% csrf_token %}
		              			<div class="form-group">
		                			<h1 class="font-weight-light">Cambiar contraseña</h1>
		                			<div class="form-row">
					    				<div class="form-group col-12 col-md-6">
							      			<label for="inputPassword">Nueva constraseña:</label>
							      			<input class="form-control" placeholder="Contraseña" {{ form.new_password1 }}
					    				</div>
					    				<div class="form-group col-12 col-md-6">
					      					<label for="inputCPassword">Confirmar contraseña:</label>
					      					<input class="form-control" placeholder="Contraseña" {{ form.new_password2 }}
					    				</div>
					  				</div>
		              			</div>
		              			<h6 class="text-danger">{{ form.new_password1.errors }}</h6>
		              			<h6 class="text-danger">{{ form.new_password2.errors }}</h6>
		            		</li>
		            		<li class="list-group-item d-flex justify-content-end">
		            			<div class="col-12 col-md-4">
		                			<button type="submit" class="btn btn-dark btn-block">Cambiar mi contraseña</button>
		            			</div>
		            		</li>
		          		</form>
		        	</ul>
		      	</div>
		    </div>
		</div>
	</div>

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>

</body>
</html>

{% else %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/estilos.css">
	<title>Perfil</title>
</head>
<body class="bg-light d-flex align-items-center">

	<div class="container">
		<div class="container-main container-fluid">
		<div class="row my-5 justify-content-center">
			<div class="mb-3 col-7 col-xl-2 col-lg-3 col-md-4 col-sm-5 text-center px-5">

			</div>
			<div class="col-12 text-center">
  				<h1 class="font-weight-light mb-0">Este enlace ha <h1 class="font-weight-light mb-0 text-danger">caducado</h1></h1>
			</div>
		</div>
	</div>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>

</body>
</html>

{% endif %}

{% endblock %}
